{% block sw_cms_block_text_six_column %}
    <div class="sw-cms-block-text-six-column">
        <slot name="left"></slot>
        <slot name="center"></slot>
        <slot name="right"></slot>
        <slot name="four"></slot>
        <slot name="five"></slot>
        <slot name="six"></slot>
    </div>
{% endblock %}
