{% block sw_product_media_form %}
  <div
    class="sw-product-media-form"
    :class="{ 'is--disabled': disabled }">
    <sw-tabs defaultItem="upload-media">
      <template v-slot="{ active }">
        <sw-tabs-item
          name="upload-media"
          :activeTab="active">
          {{ $t('sw-product.solid-product-media-form.upload.title') }}
        </sw-tabs-item>
        <sw-tabs-item
          name="embed-media"
          :activeTab="active">
          {{ $t('sw-product.solid-product-media-form.embed.title') }}
        </sw-tabs-item>
      </template>
      <template v-slot:content="{ active }">
        <div v-show="active === 'upload-media'">
          {% block sw_product_media_form_upload %}
            <sw-upload-listener
              v-if="!isLoading"
              :upload-tag="product.id"
              auto-upload
              @media-upload-finish="successfulUpload"
              @media-upload-fail="onUploadFailed" />

            <sw-media-upload-v2
              v-if="!isLoading && acl.can('product.editor')"
              variant="regular"
              :upload-tag="product.id"
              :scroll-target="$parent.$el"
              :default-folder="product.getEntityName()"
              @media-upload-sidebar-open="onOpenMedia" />
          {% endblock %}
        </div>
        <div v-show="active === 'embed-media'" class="embed-media-container">
          <sw-help-text
            class="video-url-help-text"
            :text="$t('sw-product.solid-product-media-form.embed.url-help-text')"
            :width="450" />
          <sw-text-field
            :label="$t('sw-product.solid-product-media-form.embed.url')"
            v-model="embeddedVideo.url"
            @input="onChangeEmbeddedVideoUrl" />
          <sw-radio-field
            :label="$t('sw-product.solid-product-media-form.embed.source')"
            :options="[
              {'value': 'youtube', 'name': 'YouTube'},
              {'value': 'vimeo', 'name': 'Vimeo'},
            ]"
            v-model="embeddedVideo.source" />
          <sw-upload-listener
            v-if="!isLoading"
            :upload-tag="embeddedVideoMediaUploadTag"
            auto-upload
            @media-upload-finish="onUploadEmbeddedVideoMediaFinished" />
          <sw-media-upload-v2
            v-if="!isLoading && acl.can('product.editor')"
            :source="embeddedVideo.thumbnailId"
            :label="$t('sw-product.solid-product-media-form.embed.thumbnail')"
            :upload-tag="embeddedVideoMediaUploadTag"
            :allowMultiSelect="false"
            :default-folder="product.getEntityName()"
            @media-upload-sidebar-open="onOpenEmbeddedVideoMedia"
            @media-upload-remove-image="onRemoveEmbeddedVideoMedia" />
          <sw-container
            justify="end">
            <sw-button
              variant="primary"
              :disabled="embeddedVideoMediaAddDisabled"
              @click="onAddEmbeddedVideoMedia">
                {{ $t('sw-product.solid-product-media-form.embed.add') }}
            </sw-button>
          </sw-container>
          <sw-media-modal-v2
            v-if="showEmbeddedVideoMediaModal"
            @media-modal-selection-change="onSelectEmbeddedVideoMedia"
            :initial-folder-id="embeddedVideoMediaDefaultFolderId"
            :entity-context="product.getEntityName()"
            @modal-close="onCloseEmbeddedVideoMediaModal" />
        </div>
      </template>
    </sw-tabs>
    {% block sw_product_media_form_grid %}
      <div class="sw-product-media-form__previews">
        <div class="sw-product-media-form__cover-container
          sw-product-media-form__column">
          {% block sw_product_media_form_cover_preview %}
            <div
              v-if="product.cover || cover"
              class="sw-product-media-form__preview-cover">
              <div class="preview-cover">
                {% block sw_product_media_form_cover_image %}
                  <sw-media-preview-v2
                    class="sw-product-media-form__cover-image"
                    :source="cover ? cover.mediaId : product.cover.mediaId" />
                {% endblock %}
                <span>{{ $tc('sw-product.mediaForm.coverSubline') }}</span>
              </div>
            </div>
            <div
              v-else
              class="sw-product-media-form__cover-image is--placeholder">
              {{ $tc('sw-product.mediaForm.coverSubline') }}
            </div>
          {% endblock %}
        </div>

        <div
          v-if="!isLoading"
          class="sw-product-media-form__grid sw-product-media-form__column"
          :style="gridAutoRows">
          {%  block sw_product_media_form_grid_items %}
            <solid-product-image
              v-for="mediaItem in mediaItems"
              :key="mediaItem.id"
              :isCover="isCover(mediaItem)"
              :isPlaceholder="mediaItem.isPlaceholder"
              :mediaId="mediaItem.mediaId"
              :isEmbeddedVideo="isEmbeddedVideo(mediaItem)"
              v-draggable="{ dragGroup: 'product-media', data: mediaItem, onDragEnter: onMediaItemDragSort }"
              v-droppable="{ dragGroup: 'product-media', data: mediaItem }"
              @sw-product-image-delete="removeFile(mediaItem)"
              @sw-product-image-cover="markMediaAsCover(mediaItem)" />
          {% endblock %}
        </div>
        <sw-loader v-else />
      </div>
    {% endblock %}
  </div>
{% endblock %}