{% sw_extends '@Storefront/storefront/element/cms-element-form.html.twig' %}

{% block base_navigation_inner %}
					<div class="d-none d-xl-block">
						{% sw_include '@Storefront/storefrontcomponent/newsearch.html.twig' %}
					</div>
				{% endblock %}

