{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}


{% block layout_main_navigation_menu %}
    {{ parent() }}
{% endblock %}
{# {% block layout_main_navigation_menu_home %}
    {% if app.request.attributes.get('_route') == 'storefront.merchant.detail' %}
        <h1>Helo Wrld</h1>
    {% endif %}
    <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
        href="{{ path('frontend.home.page') }}"
        itemprop="url"
        title="{{ "general.homeLink"|trans|striptags }}">
        <div class="main-navigation-link-text">
            <span itemprop="name">Hello</span>
        </div>
    </a>
{% endblock %} #}

{% block layout_main_navigation_menu_flyout_wrapper %}
    {% if shopware.theme['dmf-header-layout'] == 1 %}
        {{ parent() }}
    {% endif %}
{% endblock %}
