{% block sw_cms_block_image_text_bubble_four %}
    <div class="sw-cms-block-image-text-bubble-four">
        <div class="sw-cms-block-image-text-bubble__left">
            <slot name="left-image"></slot>
            <slot name="left-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-bubble__center">
            <slot name="center-image"></slot>
            <slot name="center-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-bubble__right">
            <slot name="right-image"></slot>
            <slot name="right-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-bubble__four">
            <slot name="four-image"></slot>
            <slot name="four-text"></slot>
        </div>
    </div>
{% endblock %}
