{% block sw_cms_el_component_lae_prism_html %}
    <div class="sw-cms-el-component-lae-prism-html">
        <sw-alert>
            {{ $tc('sw-cms.elements.lae-prism-html.no-preview') }}
        </sw-alert>
    </div>
{% endblock %}
