<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="single-select">
            <name>decimalAmount</name>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                </option>
            </options>
            <label>Decimal places</label>
            <label lang="de-DE">Dezimalstellen</label>
            <value>0</value>
        </input-field>

        <input-field type="bool">
            <name>blink</name>
            <label>Blink Effect</label>
            <label lang="de-DE">Blink Effekt</label>
        </input-field>
    </card>
</config>
