{% block layout_header_logo_image %}
    <a class="header-logo-main-link"
       href="{{ path('frontend.home.page') }}"
       title="{{ "header.logoLink"|trans|striptags }}">
        <picture>
            {% block layout_header_logo_image_default %}
            <img src="https://orkiya.com/media/ed/da/75/1703491252/orkiya logo png-01 (1) (4).png">
            {% endblock %}
        </picture>
    </a>
{% endblock %}
